snippet standup "standup template" b
# Today

- standup
	- yesterday
		- ${1:${VISUAL:TODO}}
	- today
		- ${2:${VISUAL:TODO}}

# Yesterday
endsnippet

snippet ` "code block" b
\`\`\`python3

\`\`
endsnippet


snippet til "Today I Learn" b
`!p 
from datetime import date

snip.rv = f"# TIL - {date.today().strftime('%d/%b/%y')} - "
`
endsnippet
