# Note: this file is also used for global git ignore

# ctags
tags
# vim swap files
*.swp

.venv/
__pycache__/
*.pickle

# python log files
*.log

# notes website
notes_website_output/
notes_website_data/

# python dotenv
.env

# ai.py
ai_db.jsonl
ai_output/
