[push]
	default = current
	autoSetupRemote = true
[alias]
    a      = add
    ac     = !git add . && git commit --all --verbose
    ap     = add --patch

    b      = branch
    bs     = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) %(color:yellow)%(objectname:short)%(color:reset) %(contents:subject) %(color:cyan)%(authorname)%(color:reset) (%(color:green)%(committerdate:short)%(color:reset))'

    c      = commit --verbose
    ca     = commit --all --verbose
    cam    = commit --amend --verbose
    camn   = commit --all --amend --verbose --no-edit
    cp     = commit --patch --verbose

    d      = diff
    dc     = diff --cached
    do     = !git diff origin/$GIT_BASE_BRANCH...
    ds     = diff --staged

    f      = fetch
    fro    = !git fetch origin && git rebase --autosquash --interactive origin/$GIT_BASE_BRANCH

    g      = grep --ignore-case

    l      = log
    l1     = log -1 --patch --stat
    l2     = log -2 --patch --stat
    l3     = log -3 --patch --stat
    l4     = log -4 --patch --stat
    l5     = log -5 --patch --stat
    lg     = log --graph --oneline
    ll     = log --format='%C(yellow)%h %C(reset)%C(cyan)%C(bold)%>(20)%ah %C(reset)%>(20)%C(green)%an %C(reset)%s' --date short
    lp     = log --patch
    lprod  = !git fetch origin && git log origin/env/prod
    ltest  = !git fetch origin && git log origin/env/test
    ltest2  = !git fetch origin && git log origin/env/test2
    luat   = !git fetch origin && git log origin/env/uat
    ldevelopment   = !git fetch origin && git log origin/development

    lo     = log --oneline

    p      = push

    rb     = rebase
    rba    = rebase --abort
    rbc    = rebase --continue
    rbi    = rebase --interactive

    rs     = restore
    rso    = !git restore --source=origin/$GIT_BASE_BRANCH
    rss    = restore --staged

    s      = status

    sw     = switch
[user]
	email = ynotstartups@gmail.com
	name = ynotstartups
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
    pager = delta
[commit]
	template = /Users/yuhao.huang/Documents/dotfiles/git_commit_template.txt
	verbose = true
[pager]
	branch = false
[rerere]
	enabled = true
[rebase]
	autosquash = true
[merge]
	conflictstyle = zdiff3
[branch]
    sort = -committerdate
[log]
    date = iso
# delta setting
[interactive]
    diffFilter = delta --color-only
# delta setting
[delta]
    true-color = always
    dark = true
    navigate = true    # use n and N to move between diff sections
    side-by-side = true
    line-numbers = true
    syntax-theme = Monokai Extended


    file-decoration-style = bold ul ol
    file-style = bold brightyellow

    commit-decoration-style = bold box ul
    file-modified-label = modified:

    hunk-header-decoration-style = brightyellow box
    hunk-header-file-style = none
    hunk-header-line-number-style = none
    hunk-label = hunk:
    hunk-header-style = bold file line-number syntax

[diff]
    # delta setting
    colorMoved = default
    algorithm = histogram

# delta setting
[diff "markdown"]
    xfuncname = "^#.*$"

# delta setting
[diff "zsh"]
    # this regex stands for my custom header, e.g.
    ########
    # TODO #
    ########
    xfuncname = "^#.*#$"
[advice]
	skippedCherryPicks = false
