[push]
	default = current
	autoSetupRemote = true
[alias]
        a = add
        ac = !git add . && git commit -v -a
        ap = add --patch
        b = branch
        bs = for-each-ref --sort=-committerdate refs/heads/ --format='%(HEAD) %(color:magenta)%(refname:short)%(color:reset) %(color:yellow)%(objectname:short)%(color:reset) %(contents:subject) %(color:cyan)%(authorname)%(color:reset) (%(color:green)%(committerdate:short)%(color:reset))'
        c = commit -v
        camend = commit -v --amend
        ca = commit -v -a
        caa = commit -v -a --amend --no-edit
        cp = commit -v --patch
        d = diff
        dc = diff --cached
        fu = fetch upstream
        g = grep --ignore-case
        l = log
        l1 = log -1 -p
        lg = log --graph
        ll = log --format='%C(yellow)%h%C(reset) %s %C(cyan)%an%C(reset) (%C(green)%as%C(reset))'
        p = push
        s = status
        sw = switch
[user]
	email = ynotstartups@gmail.com
	name = ynotstartups
[init]
	defaultBranch = main
[core]
	excludesfile = ~/.gitignore_global
