# essential
httpx

# tests
pdbpp
pytest
coverage

# format & lint
black
flake8
ipython
isort

# vim
jedi

# vim - completer
thefuzz

# m3u8_downloader for ssl
pip_system_certs

# autogui
pyautogui

dotenv


